body
  background-color: #eee

#container
  margin: 40px auto
  position: relative
  width: 600px
  height: 400px

  .arrow
    position: absolute
    box-sizing: border-box
    top: 185px
    width: 30px
    height: 30px
    text-align: center
    padding: 7px
    background-color: #312d87
    border-radius: 100%
    color: white
    font-weight: bold
    cursor: pointer
    user-select: none
    -webkit-user-select: none
    box-shadow: 0 0 8px 0 rgba(20,80,230,0.5)
    &:hover
      box-shadow: 0 0 8px 0 rgba(20,80,230,1)

    &#next
      right: -50px
    &#prev
      left: -50px


#view
  outline: 1px solid red
  width: 600px
  height: 400px
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.75)
  white-space: nowrap
  word-break: keep-all
  overflow: hidden

  #scrollable
    font-size: 0

  #scrollable > div
    margin: 0
    box-sizing: border-box
    display: inline-block
    width: 600px
    height: 400px
    color: blue
    font-size: 50px
    background: linear-gradient(to right, rgba(201,201,201,1), rgba(136,136,136,1))
    border: 1px solid black
    text-align: center
    padding: 25%

.dots
  position: absolute
  top: 10px
  left: 0
  right: 0
  text-align: center
  opacity: 0.7

  .dot
    display: inline-block
    height: 6px
    width: 6px
    background-color: transparent
    border: 1px solid white
    border-radius: 100%
    margin: 3px
    transition: background-color 0.4s ease

    &.active
      background-color: white
